{{#layout}}

{{#style}}
<style>
.bf-body-wrapper { height: calc(100% - 100px); }
.list-table th, .list-table td { border: 1px solid #ddd; border-collapse: collapse; font-size: 12px; }
.list-row { width: 100%; height: calc(100% - 150px); }
.list-row .col { height: 100%; overflow-y: auto; padding-right: 0; }
.list-table th, .list-table td { color: #555; font-weight: normal; }
.list-table td { font-size: 11px; border: 1px solid #ddd; border-collapse: collapse; padding: 5px 6px; }
.list-table a { text-decoration: underline; }
.contents-area div.cell { height: calc(100% - 32px); overflow-y: auto; }
.callout a.button { display: block; }
tbody th, tbody td { padding: 0.1rem 0.625rem 0.1rem; }
thead th, thead td, tfoot th, tfoot td { padding: 5px 6px; }
.tr-release { background-color: #1976d2; }
.tr-release > td { color: white; }
.tr-released { background-color: gray !important; }
.tr-released > td { color: white !important; }
</style>
{{/style}}

<div class="callout secondary small clearfix">
	<nav role="navigation" class="nav float-left">
	  <ul class="breadcrumbs">
	    <li>홈</li>
	    <li>이력조회</li>
	  </ul>
	</nav>
	<div class="button-group float-right">
	</div>
</div>

<div class="grid-x" style="padding: 10px 0 0;">
	<div class="cell small-7"><h5 class="text-center">전체 변경 이력</h5></div>
	<div class="cell small-5"><h5 class="text-center">배포 후 변경된 파일</h5></div>
</div>

<div class="grid-x contents-area">

	<!-- 1) 변경이력 -->
	<div class="cell small-7" style="padding: 0 20px 0 10px;">
	  <table class="list-table">
		<colgroup>
			<col width="7%"/>
			<col width="7%"/>
			<col width="12%"/>
			<col width="17%"/>
			<col width="17%"/>
			<col />
			<col width="10%"/>
			<col width="13%"/>
		</colgroup>
		<thead>
			<tr>
				<th>순번</th>
				<th>구분</th>
				<th>파일종류</th>
				<th>이름</th>
				<th>파일명</th>
				<th>변경사유</th>
				<th>변경자</th>
				<th>변경일시</th>
			</tr>
		</thead>
		<tbody>
			{{#hlist}}
			<tr>
				<td class="text-right">{{id}}</td>
				<td class="text-center">{{method}}</td>
				<td class="text-center">{{type}}</td>
				<td class="text-left">{{#title}}{{title}}{{/title}}</td>
				<td class="text-left"><a href="/history/{{id}}" target="ifrm">{{#groupId}}{{groupId}}/{{/groupId}}{{#filePath}}{{filePath}}{{/filePath}}</a></td>
				<td class="text-left">{{#comment}}{{comment}}{{/comment}}</td>
				<td class="text-center">{{#userid}}{{userid}}{{/userid}}</td>
				<td class="text-center">{{updDtStr}}</td>
			</tr>
			{{/hlist}}
			{{^hlist}}
			<tr>
				<td class="text-center" colspan="8">내역이 없습니다</td>
			</tr>
			{{/hlist}}
			</tbody>
		</table>
		
	</div>
	
	<!-- 2) 변경파일 -->
	<div class="cell small-5" style="padding: 0 10px 0 10px;">
		<table class="list-table">
			<colgroup>
				<col width="15%" />
				<col />
				<col width="40%" />
			</colgroup>
			<thead>
				<tr>
					<th>작업</th>
					<th>파일구분</th>
					<th>이름</th>
					<th>파일명</th>
					<th>최종변경일시</th>
				</tr>
			</thead>
			<tbody>
   				{{#clist}}
				<tr>
					<td class="text-center">{{method}}</td>
					<td class="text-center">{{type}}</td>
					<td>{{#title}}{{title}}{{/title}}</td>
					<td>{{#groupId}}{{groupId}}/{{/groupId}}{{#filePath}}{{filePath}}{{/filePath}}</td>
					<td class="text-center">{{updDtStr}}</td>
				</tr>
				{{/clist}}
   				{{^clist}}
				<tr>
					<td class="text-center" colspan="5">내역이 없습니다</td>
				</tr>
				{{/clist}}
			</tbody>
		</table>
	</div>
	
</div>

<iframe id="ifrm" name="ifrm" style="display: none;"></iframe>

{{#script}}
<script src="/page/release.js"></script>
{{/script}}

{{/layout}}