{{#layout}}

{{#style}}
<style>
.left-section { background-image: url('/img/bg-user-left.jpg');
	border: 1px solid #ccc; border-left: 0; }
thead th, thead td, tfoot th, tfoot td { font-weight: normal; }
</style>
{{/style}}

<div class="callout secondary small clearfix">
	<nav role="navigation" class="nav float-left">
	  <ul class="breadcrumbs">
	    <li>홈</li>
	    <li>사용자관리</li>
	  </ul>
	</nav>
	<div class="button-group float-right">
	  {{#notOnlyOne}}
	  <a class="button small alert" href="javascript:void(0);" id="btn-delete">삭제</a>
      {{/notOnlyOne}}
	  <a class="button small success" href="javascript:void(0);" id="btn-modify">수정완료</a>
	  <a class="button small primary" href="javascript:void(0);" id="btn-create">등록</a>	
	</div>
</div>

<div class="grid-x contents-area">
	
	<div class="cell small-3 left-section">
	</div>
	
	<div class="cell small-3" id="group-list-wrapper" style="padding-top: 12px;">
		<table>
		  <thead>
		    <tr>
		      <th>사용자 선택</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{{#list}}
		    <tr>
		      <td class="btn-list-item" onclick="getUser(this);" bf-name="{{#userid}}{{userid}}{{/userid}}">{{#userid}}{{userid}}{{/userid}}</td>
		    </tr>
		    {{/list}}
		    </tbody>
		</table>
		<ul>
			<li>
				<a class="cell button secondary hollow expanded" href="javascript:void(0);" onclick="getUser();" >
					<i class="fi-pencil"></i>&nbsp;새 사용자
				</a>
			</li>
		</ul>
	</div>
		
	<div class="cell small-6 bf-detail-area" id="bf-contents" style="padding-top: 12px;">
		<div>
		   <label for="groupId"><i class="fi-torso"></i> 사용자ID</label>
		   <div class="col-sm-10">
		     <input type="text" id="username" class="form-control" placeholder="관리자ID (영숫자, 최대 15자)" maxlength="15">
		   </div>
			<label for="password"><i class="fi-unlock"></i> 비밀번호</label>
			<div class="col-sm-10">
			  <input type="password" id="password" class="form-control" placeholder="비밀번호 (영수특수문자, 최대 15자)" maxlength="15">
			</div>
		  <label for="password2"><i class="fi-unlock"></i> 비밀번호 확인</label>
		  <div class="col-sm-10">
		    <input type="password" id="password2" class="form-control" placeholder="비밀번호 확인 (영수특수문자, 최대 15자)" maxlength="15">
		  </div>
		</div>
	</div>
	
</div>

{{#script}}
<script src="/page/user.js"></script>
{{/script}}

{{/layout}}